<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Backend Suite">
  <test name="BackendTests">
    <classes>
      <class name="backend.BackendApplicationTests"/>
      <class name="backend.service.impl.GameServiceTest"/>
      <class name="backend.controller.ReviewControllerAssertionTest"/>
      <class name="backend.controller.ChatbotControllerDataProviderTest"/>
    </classes>
  </test>
</suite>
